/* import font family  */

@import url(/webfonts/shloprg.ttf);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: shloprg;
    src: url(/webfonts/shloprg.ttf);
  }
  title{
    font-family: shloprg;
    src: url(/webfonts/shloprg.ttf);

  }
  header{
    
    background-image: linear-gradient(to right top, #d16ba5, #f66f8f, #ff7e71, #ff9a4f, #ffbb2f, #e7d031, #cae446, #a6f567, #83fa91, #65fcb7, #55fdd8, #5ffbf1);


  }
.banner{
    background-image: url(../img/banner.gif);
    height: 20vw;
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: top center;
    
    background-size: 35%;
    background-attachment: fixed; 
}
nav{
    display: flex;  
    background: linear-gradient(to right, #40E0D0 0%, #FF8C00 90%);
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}
nav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    opacity: 1;
    text-transform: uppercase

}
nav a:hover{
  color:red;
  transition: 2s linear;
}

/* slider start  */

.slider {
  overflow: hidden; 
  text-align: center;
  
}

input {
  position: absolute;  
  opacity: 0;
  margin-top: 95vh;
  cursor: pointer;
}

label {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: solid 2px white;
  border-radius: 999px;
  background-color: transparent;
  margin: 55vh 6px 0 6px;
  z-index: 2;
  cursor: pointer;
  transition-duration: .4s;
}

input:checked + label{
  background-color: red;
}

input:focus + label{
  box-shadow: 0 0 0 2px teal, 0 0 18px white;
}

.slide {
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transform: translateX(-100%);
  transition-duration: .4s;
  opacity: 1;
}


input:checked + label + .slide {
  transform: translateX(0);
  opacity: 1;
}

.bg1{
  background-image: url(/img/1.jpg);
  background-repeat: no-repeat;
}
.bg2{
  background-image: url(/img/2.jpg);
  background-repeat: no-repeat;
}
.bg3{
  background-image: url(/img/1.jpg);
  background-repeat: no-repeat;
}
.bg4{
  background-image: url(/img/1.jpg);
  background-repeat: no-repeat;
}
.bg5{
  background-image: url(/img/1.jpg);
  background-repeat: no-repeat;
}

/* card  */
.card{
  height: 270px;
  min-width: 250px;
  width: 470px;
  background: linear-gradient(45deg, #0c0200, #2f3131);
  box-shadow: rgba(0,0,0,15) 0px 5px 15px 0px;
  position: relative;
  border-radius: 20px;
  padding-left: 20px;
  color: white;
  transition: all 0.2s;
  margin-bottom: 92px;
}
.card img{
  height: 370px;
  max-width: 100%;
  position: absolute;
  top: 34%;
  left: 60%;
  transform: translate(-50%,-50%);
  transition: all 0.2s;

}
.card h2{
  margin-top: 20px;
  color: #e5aa1d;
  transition: all 0.2s;
}
.card p,a {
  font-size: "Source Sans Pro", sans-serif;
  transition: all 0.2s;
  opacity: 0;
}
.card p{
  width: 300px;
  margin-bottom: 10px;
}
.card a{
  text-decoration: none;
  text-transform: uppercase;
  color: #0c0200;
  background-color: #e5aa1d;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.card a:hover{
  color: #0c0200;
  background-color: #fff;

}
.card:hover img{
  left: 76%;
  /* top: 40%;
  height: 430px; */
  
}
.card:hover h2{
  font-size: 40px;
  margin-bottom: 15px;
  letter-spacing: 2px;

}
.card:hover p,
.card:hover a{
  opacity: 1;
  transition: all 0.5s;

}
.container_2{
  
    width: auto;
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    /* row-gap: 37px; */
    flex-direction: row;
    /* flex-flow: row; */
    flex-wrap: wrap;
    column-gap: 10px 20px;
    /* grid-gap: 45px 96px; */
    /* justify-content: space-between; */
   
    margin-top: 100px;
    justify-content: space-around;
    background-color: #f8ffef;
    margin-top: 41px;
    padding-top: 20px;


}